.question-container {
  border-top: #CFD8DC solid 1px;
  border-bottom: #CFD8DC solid 1px;
  margin: 15px 0px;
}

.question-stats {
  display: block;
  margin: 3px 0px;
  color: #757575;
}

.vcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-row {
  display: block;
}

a {
  text-decoration: none;
  color: #616161;
}

i {
  color: #757575;
}
