<nav class = "navbar navbar-toggleable-md" id="landing-section">
  <div id = "bgimg">
    <div class = "bs-docs-header">

      <div class="row">
        <div class="col-md-8">
          <h3 style = "fontsize:18px;" style = "color:white;position:relative;left:50px;">Learn, Share, Build.</h3>
          <h5 style = "fontsize:18px;" style = "color:white;position:relative;left:50px">Each month, over 50 million developers come to Student Overflow to <br> learn,
            share their knowledge, and build their careers.</h5>
            <h5 style = "fontsize:18px;" style = "color:white;position:relative;left:50px">Join the world's largest developer community.</h5>
          </div>

          <div class="col-md-4" >
  <h3 style = "fontsize:18px;" style = "color:white;position:relative;left:40px;">Register:</h3>

            <form class="form-inline">
              <div class="form-group">
                <label for="Name" style="color:white;">Name: </label>
                <input class = "form-control" style="background-color:white;" type="text" placeholder = "ex. John Smith">
              </div>
              <div class="form-group">
                <label for="Email" style="color:white;">Email: </label>
                <input class = "form-control" style="background-color:white;" type="text" placeholder = "ex. Smith@gmail.com">
              </div>
            </form>
            <p style="color:white;position:relative;left:40px;">or use:</p>
            <div style="position:relative;left:40px;" href="http://google.com" class="btn btn-default">Google sign in</div>
          </div>
        </div>
      </div>
    </div>
    <div id="hot-questions" class="container">
      <app-question-item></app-question-item>
      <app-question-item></app-question-item>
      <app-question-item></app-question-item>
      <app-question-item></app-question-item>
    </div>
  </nav>
