#landing-section {
  height: 100vh;
  width: 100%;
}

#register-section {
  height: 30vh;
  width: 100%;
  background-color: gray;
  color: white;
}

#hot-questions {
  height: 70vh;
}

#bgimg{
    background-image:url('/assets/red.jpg');
    height: 200px;
    opacity:.90;
}
