<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand"><i class="fa fa-1x fa-fw fa-book"></i>Student SOS</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a href="../default/">Calculus</a></li>
            <li><a href="../cerulean/">Physics</a></li>
            <li><a href="../cosmo/">Chemistry</a></li>
            <li><a href="../cyborg/">Biology</a></li>
            <li><a href="../darkly/">Linear Algebra</a></li>
            <li><a href="../darkly/">History</a></li>
            <li><a href="../darkly/">Economics</a></li>
          </ul>
        </li>
        <li>
          <a href="../help/">Help</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">References<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="download">
            <li><a href="http://jsfiddle.net/bootswatch/ndax7sh7/">Journals</a></li>
            <li class="divider"></li>
            <li><a href="./bootstrap.min.css">Encyclopedias</a></li>
            <li><a href="./bootstrap.css">Books</a></li>
            <li class="divider"></li>
            <li><a href="./variables.less">Newspapers</a></li>
            <li><a href="./bootswatch.less">Studies</a></li>
            <li class="divider"></li>
            <li><a href="./_bootswatch.scss">Documentaries</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://builtwithbootstrap.com/" target="_blank">Citation Help</a></li>
        <li><a href="https://wrapbootstrap.com/?ref=bsw" target="_blank">Live Chat with a Guru</a></li>
      </ul>

    </div>
  </div>
</div>
