#question-title {
  border-bottom: grey solid 1px;
  padding: 10px 0px;
}

#main-question-body {
  margin: 10px 0px;
  border-right: 1px #F5F5F5 solid;
}

#main-response-body {
  border-right: 1px #F5F5F5 solid;
}

#question-body {
  /*border-right: 1px #F5F5F5 solid;*/
}

#thumbs {
  padding-left: 0px;
}

#response-container {
  /*border-bottom: #F5F5F5 1px solid;*/
}

.thumbsCount {
  font-size: 18px;
  margin: 0px;
}

.thumbs {
  padding-left: 0px;
}

.new-row {
  display: block;
  margin: 5px 0px;
}

.user-pic {
  margin: 5px 0px;
}

.user-name {
  font-size: 14px;
  margin: 5px 0px;
}

.badge-container {
  display: inline-block;
}

.gold-badge {
  color: #FFFF00;
}

.silver-badge {
  color: #c0c0c0;
}

.bronze-badge {
  color: #CD7F32;
}

.question-data p {
  display: inline;
}

hr {
  max-width: 100%;
}

textarea {
  color: grey;
  border: 1px solid #90A4AE;
}

.inline {
  display: inline-block;
  margin: 0px;
}
