<div *ngIf="warning">

  <div>
    <p style= "font-size;200%;color:black;">How to ask:</p>
  </div>

  <p>
    Welcome to Homework Overflow!
    <br>
    Here, we'll try our best to help you but unforunately, not every question gets answered.
  </p>

  <h5>
    Search and search and search
  </h5>

  <p>
    Have you done your research? Doing your research will help others provide answers specific to your problem.
  </p>

  <p>
    Be on topic
  </p>

  <p>
    Be specific
  </p>

  <button class="btn" (click)="warning = false;">Proceed to ask</button>

</div>

<div *ngIf="!warning">
  <div class="container">
    <h4 style="display: inline;">Title: </h4>
    <br>
    <input class="form-control" type="text" [(ngModel)]="questionTitle" placeholder="Provide a brief description of the question you're asking" style="width: 100%">
    <br>
    <textarea class="form-control" name="QuestionBody" rows="8" cols="80" [(ngModel)]="questionBody" placeholder="Enter the details of your question. Be sure to include any references or sources."></textarea>
    <textarea class="form-control" name="Tags" rows="4" cols="100" [(ngModel)]="tagsString" (keypress)="separateTags($event)" placeholder="Enter any tags relevant to the question. Be sure to separate each tag with a space. Tags that include more than one word should be separated by '-'. (e.g. Calculus Ordinary-Differential-Equations Hard End-me-now)"></textarea>
    <button class="btn" (click)="askQuestion()">Ask!</button>
  </div>
</div>
